nasa_weekly_dashboard.json
{
  "name": "NASA Weekly Space Weather Dashboard",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "1a000000-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "astronomyPictureOfTheDay",
        "operation": "get",
        "download": false,
        "additionalFields": {
          "date": "={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
        }
      },
      "id": "1a000000-0000-0000-0000-000000000002",
      "name": "NASA - APOD",
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        480,
        100
      ],
      "credentials": {
        "nasaApi": {
          "id": "",
          "name": "NASA account"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "asteroidNeoFeed",
        "operation": "get",
        "additionalFields": {
          "startDate": "={{ $now.toFormat('yyyy-MM-dd') }}",
          "endDate": "={{ $now.toFormat('yyyy-MM-dd') }}"
        }
      },
      "id": "1a000000-0000-0000-0000-000000000003",
      "name": "NASA - Asteroid Neo Feed",
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "nasaApi": {
          "id": "",
          "name": "NASA account"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "operation": "get",
        "additionalFields": {
          "startDate": "={{ $now.minus({ days: 30 }).toFormat('yyyy-MM-dd') }}",
          "endDate": "={{ $now.toFormat('yyyy-MM-dd') }}"
        }
      },
      "id": "1a000000-0000-0000-0000-000000000004",
      "name": "NASA - DONKI Solar Flare",
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        480,
        500
      ],
      "credentials": {
        "nasaApi": {
          "id": "",
          "name": "NASA account"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      },
      "id": "1a000000-0000-0000-0000-000000000005",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const apodRaw = $('NASA - APOD').first()?.json || {};\nconst asteroids = $('NASA - Asteroid Neo Feed').all().map(i => i.json).filter(a => a && a.id);\nconst flareList = $('NASA - DONKI Solar Flare').all().map(i => i.json).filter(f => f && f.classType);\n\nlet korean = '';\ntry {\n  const aiOut = $('OpenAI - Translate APOD').first()?.json || {};\n  const content = aiOut?.choices?.[0]?.message?.content\n    || aiOut?.message?.content\n    || aiOut?.content\n    || '';\n  if (content) {\n    const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n    korean = parsed.korean || parsed.ko || '';\n  }\n} catch (e) {\n  korean = '';\n}\n\nconst today = new Date().toISOString().split('T')[0];\nconst apodOk = !!(apodRaw && apodRaw.title && !apodRaw.error);\n\nconst classRank = { A: 1, B: 2, C: 3, M: 4, X: 5 };\nconst classColor = { A: '#94a3b8', B: '#38bdf8', C: '#84cc16', M: '#ff9040', X: '#ff3030' };\nconst classBase = { A: 0.001, B: 0.01, C: 0.1, M: 1, X: 10 };\n\nlet topClass = '';\nfor (const f of flareList) {\n  const letter = (f.classType || '').charAt(0).toUpperCase();\n  if (classRank[letter] > (classRank[topClass] || 0)) topClass = letter;\n}\nconst coronaColor = topClass === 'X' ? '#ff3030' : topClass === 'M' ? '#ff9040' : '#ffd040';\n\nconst sortedAsteroids = [...asteroids].sort((a, b) => {\n  const ad = parseFloat(a.close_approach_data?.[0]?.miss_distance?.lunar || '999');\n  const bd = parseFloat(b.close_approach_data?.[0]?.miss_distance?.lunar || '999');\n  return ad - bd;\n});\n\nconst totalAsteroids = asteroids.length;\nconst hazardous = asteroids.filter(a => a.is_potentially_hazardous_asteroid).length;\nconst flareCount = flareList.length;\n\nconst neoCards = sortedAsteroids.map(a => {\n  const meters = a.estimated_diameter?.meters;\n  const diameter = meters\n    ? Math.round((meters.estimated_diameter_min + meters.estimated_diameter_max) / 2)\n    : null;\n  const cad = a.close_approach_data?.[0] || {};\n  const ld = cad.miss_distance?.lunar ? parseFloat(cad.miss_distance.lunar).toFixed(2) : null;\n  const kps = cad.relative_velocity?.kilometers_per_second\n    ? parseFloat(cad.relative_velocity.kilometers_per_second).toFixed(1)\n    : null;\n  return {\n    name: a.name || '(unknown)',\n    diameter,\n    ld,\n    kps,\n    hazardous: !!a.is_potentially_hazardous_asteroid,\n  };\n});\n\nconst flareScatter = flareList.map(f => {\n  const ct = f.classType || 'C1';\n  const letter = ct.charAt(0).toUpperCase();\n  const mag = parseFloat(ct.slice(1)) || 1;\n  const intensity = (classBase[letter] || 0.1) * mag;\n  const t = f.peakTime ? new Date(f.peakTime).getTime() : Date.now();\n  return {\n    value: [t, intensity],\n    classType: ct,\n    sourceLocation: f.sourceLocation || '',\n    peakTime: f.peakTime || '',\n    itemStyle: { color: classColor[letter] || '#94a3b8' },\n    symbolSize: Math.max(8, mag * 10),\n  };\n});\n\nconst esc = (s) => String(s ?? '').replace(/[&<>\"']/g, c => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#39;' }[c]));\nconst apodEn = apodOk ? (apodRaw.explanation || '') : '';\nconst apodKo = korean;\nconst hasKo = apodKo.trim().length > 0;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>나의 우주 대시보드 - ${today}</title>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&family=Share+Tech+Mono&display=swap\">\n<script src=\"https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js\"></script>\n<script src=\"https://unpkg.com/three@0.160.0/build/three.min.js\"></script>\n<style>\n  *{box-sizing:border-box}\n  html,body{margin:0;padding:0;color:#e6e6e6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;line-height:1.5}\n  body{height:100vh;overflow:hidden;padding:14px;display:grid;grid-template-rows:auto 1fr;gap:12px;background:\n    repeating-linear-gradient(0deg, rgba(106,169,255,.035) 0 1px, transparent 1px 80px),\n    repeating-linear-gradient(90deg, rgba(106,169,255,.035) 0 1px, transparent 1px 80px),\n    radial-gradient(ellipse at 50% 0%, #0a1022 0%, #05070d 60%)}\n  header{position:relative;padding:8px 16px;overflow:hidden;display:flex;align-items:center;justify-content:space-between;gap:24px;min-height:60px}\n  #stars{position:absolute;inset:0;z-index:0;width:100%;height:100%;pointer-events:none}\n  .title-wrap{position:relative;z-index:1;display:flex;align-items:baseline;gap:16px;flex-wrap:wrap}\n  h1{margin:0;font-family:'Orbitron',sans-serif;font-size:clamp(1.4rem,2.6vw,2.2rem);font-weight:900;letter-spacing:.08em;color:#ffb36a;text-shadow:0 0 6px #ff8a3c,0 0 18px #ff6a1f,0 0 36px rgba(255,138,60,.7)}\n  .meta{color:#94a3b8;font-size:.78rem;font-family:'Share Tech Mono',monospace;letter-spacing:.05em}\n  .stats{position:relative;z-index:1;display:flex;gap:18px;flex-wrap:wrap}\n  .stat .num{font-family:'Share Tech Mono',monospace;font-size:1.55rem;font-weight:400;color:${coronaColor};text-shadow:0 0 10px ${coronaColor}aa;transition:color 2s ease,text-shadow 2s ease}\n  .stat .lbl{color:#94a3b8;font-size:.7rem;margin-left:4px;font-family:'Share Tech Mono',monospace;letter-spacing:.05em;text-transform:uppercase}\n  .grid{display:grid;grid-template-columns:minmax(280px,1.1fr) minmax(420px,1.5fr) minmax(260px,1fr);grid-template-rows:1fr 1fr;gap:12px;min-height:0}\n  h2{color:#cbd5e1;margin:0 0 10px;font-size:.8rem;letter-spacing:.12em;font-family:'Share Tech Mono',monospace;text-transform:uppercase;font-weight:400}\n  h2::before{content:attr(data-idx) ' / ';color:#6aa9ff;margin-right:4px;font-weight:700}\n  .card{position:relative;background:rgba(12,17,24,.82);border:1px solid #1b2330;border-radius:10px;padding:14px;min-height:0;display:flex;flex-direction:column;overflow:hidden}\n  .card::before,.card::after{content:'';position:absolute;width:14px;height:14px;border-style:solid;border-color:#6aa9ff;pointer-events:none}\n  .card::before{top:-1px;left:-1px;border-width:2px 0 0 2px;border-top-left-radius:10px}\n  .card::after{bottom:-1px;right:-1px;border-width:0 2px 2px 0;border-bottom-right-radius:10px}\n  .card-body{flex:1;min-height:0;overflow:auto}\n  #hero-card{grid-column:1;grid-row:1 / span 2;padding:0;border:1px solid #1b2330;border-radius:10px;overflow:hidden;background:radial-gradient(ellipse at center,#1a0a05 0%,#05070d 70%);position:relative;min-height:0}\n  #hero-card::before,#hero-card::after{content:'';position:absolute;width:14px;height:14px;border-style:solid;border-color:#ff8a3c;pointer-events:none;z-index:3}\n  #hero-card::before{top:-1px;left:-1px;border-width:2px 0 0 2px;border-top-left-radius:10px}\n  #hero-card::after{bottom:-1px;right:-1px;border-width:0 2px 2px 0;border-bottom-right-radius:10px}\n  #hero-label{position:absolute;bottom:10px;left:12px;z-index:2;font-family:'Share Tech Mono',monospace;font-size:.7rem;color:#94a3b8;letter-spacing:.1em}\n  #hero-label .k{color:#6aa9ff}\n  #hero-label .dot{display:inline-block;width:6px;height:6px;background:#ffd040;border-radius:50%;margin-right:6px;box-shadow:0 0 6px #ffd040;animation:pulseDot 2s ease-in-out infinite}\n  @keyframes pulseDot{0%,100%{opacity:.45}50%{opacity:1}}\n  #hero{position:absolute;inset:0}\n  .sample{position:absolute;top:10px;left:10px;z-index:2;display:flex;gap:6px;background:rgba(5,7,13,.65);backdrop-filter:blur(6px);border:1px solid #21262d;border-radius:999px;padding:4px 6px;font-size:.72rem}\n  .sample span{color:#94a3b8;padding:3px 8px;align-self:center}\n  .sample button{background:transparent;border:1px solid #30363d;color:#cbd5e1;border-radius:999px;padding:3px 10px;cursor:pointer;font-size:.7rem}\n  .sample button:hover{background:#161b22}\n  .sample button.on{background:#1f2530;color:#fff;border-color:#475569}\n  #apod-card{grid-column:2;grid-row:1}\n  #flare-card{grid-column:2;grid-row:2}\n  #neo-card{grid-column:3;grid-row:1 / span 2}\n  .apod-body{display:grid;grid-template-columns:minmax(160px,220px) 1fr;gap:14px;flex:1;min-height:0;overflow:hidden}\n  .apod-img-wrap{min-height:0;overflow:hidden;border-radius:8px;background:#0b0e14}\n  .apod-img-wrap img{width:100%;height:100%;object-fit:cover;display:block}\n  .apod-text-wrap{min-height:0;overflow:auto;display:flex;flex-direction:column}\n  .apod-title{color:#fafafa;font-size:1rem;font-weight:700;margin:0 0 8px}\n  .apod-text{white-space:pre-wrap;font-size:.85rem;color:#cbd5e1}\n  .apod-toggle{margin-top:10px;background:#161b22;border:1px solid #30363d;color:#7dd3fc;padding:5px 12px;border-radius:999px;cursor:pointer;font-size:.75rem;align-self:flex-start}\n  .apod-toggle:hover{background:#1f2530}\n  .empty{color:#94a3b8;font-style:italic;padding:14px;text-align:center;font-size:.85rem}\n  .neo-grid{display:flex;flex-direction:column;gap:8px}\n  .neo-card{background:#0b0e14;border:1px solid #21262d;border-radius:8px;padding:10px;position:relative}\n  .neo-card .name{color:#fafafa;font-weight:700;font-size:.8rem;margin-bottom:6px;padding-right:40px;font-family:'Share Tech Mono',monospace;letter-spacing:.03em}\n  .neo-card .row{display:flex;justify-content:space-between;font-size:.75rem;color:#cbd5e1;margin-bottom:2px;font-family:'Share Tech Mono',monospace}\n  .neo-card .k{color:#6aa9ff;text-transform:uppercase;letter-spacing:.06em;font-size:.7rem}\n  .neo-card .haz{position:absolute;top:8px;right:8px;background:#ff3030;color:#fff;font-size:.6rem;padding:1px 6px;border-radius:999px;font-weight:700}\n  #flare-chart{width:100%;height:100%;flex:1;min-height:0}\n  .quiet-overlay{position:absolute;inset:40px 0 14px;display:flex;flex-direction:column;align-items:center;justify-content:center;pointer-events:none;color:#6aa9ff;font-family:'Share Tech Mono',monospace;letter-spacing:.15em;gap:6px}\n  .quiet-overlay .dot{width:8px;height:8px;background:#6aa9ff;border-radius:50%;box-shadow:0 0 10px #6aa9ff;animation:pulseDot 2s ease-in-out infinite}\n  .quiet-overlay .label{font-size:.95rem;color:#cbd5e1;font-weight:700}\n  .quiet-overlay .sub{font-size:.75rem;color:#64748b;letter-spacing:.08em}\n  @media (max-width:1100px){\n    body{height:auto;overflow:auto}\n    .grid{grid-template-columns:1fr;grid-template-rows:auto}\n    #hero-card,#apod-card,#flare-card,#neo-card{grid-column:1;grid-row:auto;min-height:320px}\n    #hero-card{min-height:360px}\n  }\n</style>\n</head>\n<body>\n<header>\n  <canvas id=\"stars\"></canvas>\n  <div class=\"title-wrap\">\n    <h1>나의 우주 대시보드</h1>\n    <span class=\"meta\">${today} · Asia/Seoul</span>\n  </div>\n  <div class=\"stats\">\n    <span class=\"stat\"><span class=\"num\">${totalAsteroids}</span><span class=\"lbl\">근접 소행성</span></span>\n    <span class=\"stat\"><span class=\"num\">${hazardous}</span><span class=\"lbl\">잠재 위험</span></span>\n    <span class=\"stat\"><span class=\"num\">${flareCount}</span><span class=\"lbl\">7일 플레어</span></span>\n  </div>\n</header>\n\n<div class=\"grid\">\n  <div id=\"hero-card\">\n    <div class=\"sample\">\n      <span>코로나</span>\n      <button data-class=\"auto\" class=\"on\">자동</button>\n      <button data-class=\"X\">X</button>\n      <button data-class=\"M\">M</button>\n      <button data-class=\"other\">그 외</button>\n      <button data-class=\"astrophage\">아스트로파지</button>\n    </div>\n    <div id=\"hero\"></div>\n    <div id=\"hero-label\"><span class=\"dot\"></span><span class=\"k\">SDO · AIA 171 Å</span> · ARCHIVED ${today}</div>\n  </div>\n\n  <div id=\"apod-card\" class=\"card\">\n    <h2 data-idx=\"01\">오늘의 천문사진 (APOD)</h2>\n    ${apodOk ? `\n      <div class=\"apod-body\">\n        <div class=\"apod-img-wrap\">${apodRaw.media_type === 'image' && apodRaw.url ? `<img src=\"${esc(apodRaw.url)}\" alt=\"${esc(apodRaw.title)}\">` : ''}</div>\n        <div class=\"apod-text-wrap\">\n          <div class=\"apod-title\">${esc(apodRaw.title)}</div>\n          <div id=\"apod-ko\" class=\"apod-text\" ${hasKo ? '' : 'style=\"display:none\"'}>${esc(apodKo)}</div>\n          <div id=\"apod-en\" class=\"apod-text\" ${hasKo ? 'style=\"display:none\"' : ''}>${esc(apodEn)}</div>\n          ${hasKo ? `<button class=\"apod-toggle\" id=\"apod-btn\">원문 보기</button>` : ''}\n        </div>\n      </div>\n    ` : `<div class=\"empty\">APOD 데이터를 불러오지 못했습니다.</div>`}\n  </div>\n\n  <div id=\"flare-card\" class=\"card\">\n    <h2 data-idx=\"02\">태양 플레어 산점도 (지난 30일)</h2>\n    <div id=\"flare-chart\"></div>\n    ${flareCount ? '' : `<div class=\"quiet-overlay\"><span class=\"dot\"></span><span class=\"label\">STANDBY</span><span class=\"sub\">지난 30일 태양 조용함</span></div>`}\n  </div>\n\n  <div id=\"neo-card\" class=\"card\">\n    <h2 data-idx=\"03\">지구 근접 소행성 — 가까운 순</h2>\n    <div class=\"card-body\">\n    ${neoCards.length ? `<div class=\"neo-grid\">${neoCards.map(c => `\n      <div class=\"neo-card\">\n        ${c.hazardous ? '<span class=\"haz\">위험</span>' : ''}\n        <div class=\"name\">${esc(c.name)}</div>\n        <div class=\"row\"><span class=\"k\">지름</span><span>${c.diameter != null ? c.diameter + ' m' : '—'}</span></div>\n        <div class=\"row\"><span class=\"k\">거리</span><span>${c.ld != null ? c.ld + ' LD' : '—'}</span></div>\n        <div class=\"row\"><span class=\"k\">속도</span><span>${c.kps != null ? c.kps + ' km/s' : '—'}</span></div>\n      </div>`).join('')}</div>` : `<div class=\"empty\">데이터 없음</div>`}\n    </div>\n  </div>\n</div>\n\n<script>\n(function(){\n  // Shared fade state for 자동/X/M/그외/아스트로파지\n  const fade = {\n    sunOpacity: 1.0, sunOpacityTarget: 1.0,\n    starSpeed: 1.0, starSpeedTarget: 1.0,\n  };\n  // --- Star canvas ---\n  const starsCanvas = document.getElementById('stars');\n  if (starsCanvas) {\n    const ctx = starsCanvas.getContext('2d');\n    let W = 0, H = 0;\n    const stars = [];\n    function resize(){\n      W = starsCanvas.clientWidth; H = starsCanvas.clientHeight;\n      starsCanvas.width = W * devicePixelRatio; starsCanvas.height = H * devicePixelRatio;\n      ctx.setTransform(1, 0, 0, 1, 0, 0);\n      ctx.scale(devicePixelRatio, devicePixelRatio);\n    }\n    function seed(){\n      stars.length = 0;\n      const n = Math.min(140, Math.round((W * H) / 6000));\n      for (let i=0;i<n;i++) stars.push({ x: Math.random()*W, y: Math.random()*H, r: Math.random()*1.3+0.2, phase: Math.random()*Math.PI*2, speed: 0.5 + Math.random()*1.5 });\n    }\n    resize(); seed();\n    window.addEventListener('resize', ()=>{ resize(); seed(); });\n    function tick(t){\n      ctx.clearRect(0,0,W,H);\n      for (const s of stars){\n        const a = 0.35 + 0.65 * (0.5 + 0.5*Math.sin(t*0.001*s.speed*fade.starSpeed + s.phase));\n        ctx.beginPath();\n        ctx.fillStyle = 'rgba(255,230,200,' + a.toFixed(3) + ')';\n        ctx.arc(s.x, s.y, s.r, 0, Math.PI*2);\n        ctx.fill();\n      }\n      requestAnimationFrame(tick);\n    }\n    requestAnimationFrame(tick);\n  }\n\n  // --- Three.js Sun ---\n  const hero = document.getElementById('hero');\n  if (hero && window.THREE) {\n    const getSize = () => ({ w: hero.clientWidth || 320, h: hero.clientHeight || 320 });\n    let { w, h } = getSize();\n    const scene = new THREE.Scene();\n    const camera = new THREE.PerspectiveCamera(45, w/h, 0.1, 100);\n    camera.position.z = 5.5;\n    const renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });\n    renderer.setPixelRatio(Math.min(devicePixelRatio, 2));\n    renderer.setSize(w, h);\n    hero.appendChild(renderer.domElement);\n\n    const textureLoader = new THREE.TextureLoader();\n    textureLoader.crossOrigin = 'anonymous';\n    const sunTex = textureLoader.load('./assets/sun.jpg');\n    const sunMat = new THREE.SpriteMaterial({\n      map: sunTex,\n      transparent: true,\n      blending: THREE.AdditiveBlending,\n      depthWrite: false,\n    });\n    const sun = new THREE.Sprite(sunMat);\n    sun.scale.set(4, 4, 1);\n    sun.renderOrder = 0;\n    scene.add(sun);\n\n    const coronaColor = new THREE.Color('${coronaColor}');\n    const coronaMat = new THREE.ShaderMaterial({\n      uniforms: { uColor: { value: coronaColor }, uTime: { value: 0 } },\n      vertexShader: 'varying vec3 vN; void main(){ vN = normalize(normalMatrix * normal); gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0); }',\n      fragmentShader: 'varying vec3 vN; uniform vec3 uColor; uniform float uTime; void main(){ float rim = pow(1.0 - abs(vN.z), 4.0); float pulse = 0.9 + 0.1*sin(uTime*1.6); gl_FragColor = vec4(uColor * rim * pulse, rim * 0.55); }',\n      transparent: true,\n      blending: THREE.AdditiveBlending,\n      side: THREE.BackSide,\n      depthWrite: false,\n      depthTest: false,\n    });\n    const corona = new THREE.Mesh(new THREE.SphereGeometry(2.25, 64, 64), coronaMat);\n    corona.renderOrder = 1;\n    scene.add(corona);\n\n    const outerMat = new THREE.ShaderMaterial({\n      uniforms: { uColor: { value: coronaColor } },\n      vertexShader: 'varying vec3 vN; void main(){ vN = normalize(normalMatrix * normal); gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0); }',\n      fragmentShader: 'varying vec3 vN; uniform vec3 uColor; void main(){ float f = pow(1.0 - abs(vN.z), 8.0); gl_FragColor = vec4(uColor, f*0.35); }',\n      transparent: true,\n      blending: THREE.AdditiveBlending,\n      side: THREE.BackSide,\n      depthWrite: false,\n      depthTest: false,\n    });\n    const outerGlow = new THREE.Mesh(new THREE.SphereGeometry(2.9, 48, 48), outerMat);\n    outerGlow.renderOrder = 2;\n    scene.add(outerGlow);\n\n    const resizeHero = () => {\n      const s = getSize();\n      renderer.setSize(s.w, s.h);\n      camera.aspect = s.w / s.h;\n      camera.updateProjectionMatrix();\n    };\n    window.addEventListener('resize', resizeHero);\n\n    // Corona sample selector\n    const sampleMap = { X: '#ff3030', M: '#ff9040', other: '#ffd040' };\n    const astrophageColor = '#8a98a8';\n    const autoColor = '${coronaColor}';\n    const targetColor = new THREE.Color(autoColor);\n    const currentColor = new THREE.Color(autoColor);\n    const setStatColor = (hex) => {\n      document.querySelectorAll('.stat .num').forEach(el => {\n        el.style.color = hex;\n        el.style.textShadow = '0 0 10px ' + hex + 'aa';\n      });\n    };\n    const applyCorona = (hex) => {\n      targetColor.set(hex);\n      fade.sunOpacityTarget = 1.0;\n      fade.starSpeedTarget = 1.0;\n      setStatColor(hex);\n    };\n    const applyAstrophage = () => {\n      targetColor.set(astrophageColor);\n      fade.sunOpacityTarget = 0.6;\n      fade.starSpeedTarget = 0.5;\n      setStatColor(astrophageColor);\n    };\n    const sampleButtons = document.querySelectorAll('.sample button');\n    sampleButtons.forEach(b => {\n      b.addEventListener('click', () => {\n        sampleButtons.forEach(x => x.classList.remove('on'));\n        b.classList.add('on');\n        const k = b.dataset.class;\n        if (k === 'astrophage') applyAstrophage();\n        else applyCorona(k === 'auto' ? autoColor : sampleMap[k]);\n      });\n    });\n    const urlClass = (new URLSearchParams(location.search)).get('class');\n    if (urlClass) {\n      const upper = urlClass.toUpperCase();\n      const key = upper === 'ASTROPHAGE' ? 'astrophage'\n                : upper === 'X' ? 'X'\n                : upper === 'M' ? 'M'\n                : 'other';\n      sampleButtons.forEach(x => x.classList.toggle('on', x.dataset.class === key));\n      if (key === 'astrophage') applyAstrophage();\n      else applyCorona(sampleMap[key]);\n    }\n\n    const start = performance.now();\n    const lerpRate = 0.015; // ~2.5s fade at 60fps\n    function loop(){\n      const t = (performance.now() - start) / 1000;\n      fade.sunOpacity += (fade.sunOpacityTarget - fade.sunOpacity) * lerpRate;\n      fade.starSpeed += (fade.starSpeedTarget - fade.starSpeed) * lerpRate;\n      currentColor.lerp(targetColor, lerpRate);\n      sunMat.opacity = fade.sunOpacity;\n      coronaMat.uniforms.uColor.value.copy(currentColor);\n      outerMat.uniforms.uColor.value.copy(currentColor);\n      corona.rotation.y -= 0.001;\n      coronaMat.uniforms.uTime.value = t;\n      renderer.render(scene, camera);\n      requestAnimationFrame(loop);\n    }\n    loop();\n  }\n\n  // --- APOD toggle ---\n  const btn = document.getElementById('apod-btn');\n  if (btn) {\n    const ko = document.getElementById('apod-ko');\n    const en = document.getElementById('apod-en');\n    btn.addEventListener('click', () => {\n      const showingKo = ko.style.display !== 'none';\n      ko.style.display = showingKo ? 'none' : '';\n      en.style.display = showingKo ? '' : 'none';\n      btn.textContent = showingKo ? '한국어 보기' : '원문 보기';\n    });\n  }\n\n  // --- Flare scatter ---\n  const flareEl = document.getElementById('flare-chart');\n  if (flareEl && window.echarts) {\n    const chart = echarts.init(flareEl, 'dark');\n    const data = ${JSON.stringify(flareScatter)};\n    chart.setOption({\n      backgroundColor: 'transparent',\n      textStyle: { color: '#e6e6e6' },\n      grid: { left: 44, right: 16, top: 20, bottom: 30 },\n      tooltip: {\n        trigger: 'item',\n        formatter: function(p){\n          const d = p.data || {};\n          const when = d.peakTime ? new Date(d.peakTime).toLocaleString('ko-KR') : '';\n          return '<b>' + d.classType + '</b><br/>' + when + (d.sourceLocation ? '<br/>' + d.sourceLocation : '');\n        }\n      },\n      xAxis: { type: 'time', axisLabel: { color: '#94a3b8', fontSize: 10 }, splitLine: { lineStyle: { color: '#1f2937' } } },\n      yAxis: { type: 'log', axisLabel: { color: '#94a3b8', fontSize: 10 }, splitLine: { lineStyle: { color: '#1f2937' } } },\n      series: [{ type: 'scatter', data: data, emphasis: { focus: 'self' } }]\n    });\n    window.addEventListener('resize', () => chart.resize());\n  }\n})();\n</script>\n</body>\n</html>`;\n\nconst base64 = Buffer.from(html, 'utf-8').toString('base64');\n\nconst summary = `🪐 APOD: ${apodOk ? apodRaw.title : '(불러오기 실패)'}\\n☄️ 근접 소행성 ${totalAsteroids}개 (잠재 위험 ${hazardous}개)\\n☀️ 지난 30일 태양 플레어 ${flareCount}건 (최고 등급: ${topClass || '없음'})`;\n\n// window-label used in the report title is handled by HTML template above.\n\nreturn [{\n  json: {\n    today,\n    apodTitle: apodOk ? apodRaw.title : '',\n    apodUrl: apodOk ? (apodRaw.url || '') : '',\n    totalAsteroids,\n    hazardous,\n    flareCount,\n    topClass: topClass || '',\n    summary\n  },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];\n"
      },
      "id": "1a000000-0000-0000-0000-000000000006",
      "name": "Build Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "sujinpark-datapopcorn"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "ccxn8n_demo"
        },
        "filePath": "index.html",
        "binaryData": true,
        "binaryPropertyName": "data",
        "commitMessage": "=chore: weekly NASA dashboard update ({{ $json.today }})",
        "additionalParameters": {}
      },
      "id": "1a000000-0000-0000-0000-000000000007",
      "name": "GitHub - Commit index.html",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub account - sujin"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#test-workflow"
        },
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([{ type: 'header', text: { type: 'plain_text', text: '🚀 NASA 우주 날씨 주간 리포트', emoji: true } },{ type: 'section', text: { type: 'mrkdwn', text: '*' + $('Build Dashboard HTML').item.json.today + '*' } },{ type: 'section', text: { type: 'mrkdwn', text: '```' + $('Build Dashboard HTML').item.json.summary + '```' } },{ type: 'actions', elements: [ { type: 'button', text: { type: 'plain_text', text: '대시보드 보기', emoji: true }, url: 'https://sujinpark-datapopcorn.github.io/ccxn8n_demo/' } ] }]) }}",
        "text": "=🚀 NASA 우주 날씨 주간 리포트 ({{ $('Build Dashboard HTML').item.json.today }})\n{{ $('Build Dashboard HTML').item.json.summary }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "1a000000-0000-0000-0000-000000000008",
      "name": "Slack - Send Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account(team-datapopcorn) - Bot-Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: \"gpt-4o-mini\", response_format: {type: \"json_object\"}, temperature: 0.3, messages: [{role: \"system\", content: \"영어 천문학 해설을 자연스러운 한국어로 번역하세요. 문장은 짧고 명료하게, 의미는 보존. 반드시 JSON 객체 {\\\"korean\\\": \\\"번역문\\\"} 형태로만 응답.\"}, {role: \"user\", content: String($json.explanation || \"\")}]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "1a000000-0000-0000-0000-000000000009",
      "name": "OpenAI - Translate APOD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "MBrYsqIQORaPtaFa",
          "name": "OpenAi account 3"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NASA - APOD",
            "type": "main",
            "index": 0
          },
          {
            "node": "NASA - Asteroid Neo Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "NASA - DONKI Solar Flare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA - APOD": {
      "main": [
        [
          {
            "node": "OpenAI - Translate APOD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA - Asteroid Neo Feed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "NASA - DONKI Solar Flare": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Dashboard HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dashboard HTML": {
      "main": [
        [
          {
            "node": "GitHub - Commit index.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Commit index.html": {
      "main": [
        [
          {
            "node": "Slack - Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Translate APOD": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "executionTimeout": 600
  },
  "active": false,
  "pinData": {}
}